@import "tailwindcss";


@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Rg It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Hv Comp.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Tailwind v4 custom theme */
@theme {
  --font-heading: "Coolvetica", sans-serif;
  --font-body: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.radial-spot {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 900px;
  height: 900px;
  pointer-events: none;
  background: radial-gradient(circle, #6EACDA 0%, transparent 70%);
  opacity: 0.25;
  filter: blur(120px);
  border-radius: 50%;
}


body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}