@import "tailwindcss";


@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Rg It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Hv Comp.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Tailwind v4 custom theme */
@theme {
  --font-heading: "Coolvetica", sans-serif;
  --font-body: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.radial-bg {
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at 60% 20%,
      #6EACDA 0%,
      rgba(110, 172, 218, 0.4) 30%,
      rgba(115, 115, 115, 0.25) 60%,
      rgba(115, 115, 115, 0) 100%);
  animation: slow-move 6s ease-in-out infinite alternate;
  pointer-events: none;
  z-index: -1;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: .7;
  }

  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 3s linear infinite;
}


@keyframes slow-move {
  0% {
    background-position: 60% 20%;
  }

  100% {
    background-position: 40% 30%;
  }
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}